<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sharing</ion-title>
    <ion-icon size="large" name="close-circle-outline" slot="end" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div padding class="mainContent">
    <div no-margin margin-top class="feedbackCard">
      <ion-row class="textCenter">
        <div>
          You can share via :
        </div>
      </ion-row>
      <div class="logoList">
        <ion-row *ngFor="let item of sharingList">

          <ion-col (click)="shareVia(item)" *ngIf="isNative()">
            <ion-img class="socialLogo" [src]="item.logo"></ion-img>
          </ion-col>

          <ion-col *ngIf='isBrowser()'>
            <a [href]="item.href" target="_blank">
              <ion-img class="socialLogo" [src]="item.logo"></ion-img>
            </a>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>

