ion-menu-button {
  color: var(--ion-color-primary);
}

ion-title {
  width: 120%;
  margin-left: -15px;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.padding {
  padding: 0 25% 10% 25%;
  margin-bottom: 50px;
}

@media screen and (max-width: 640px) {
  .padding {
    padding: 0 10% 0 10%;
  }

  ion-item, .error {
    font-size: 12px;
  }

  .btn-connexion {
    height: 30px;
    margin-right: auto;
    font-size: 10px;
    margin-top: 30px;
  }

}

.logo ion-icon{
  font-size: 9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo img{
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  position: relative;
  height: 150px;
  margin-top: 50px;
}
ion-content {
  //--ion-background-color: linear-gradient(#6DD5FA, #2980B9);
  //--ion-background-color: linear-gradient(#f5af19, #f12711);
  --ion-background-color: linear-gradient(#485563, #29323c);
}
ion-item {
  --ion-background-color: transparent!important;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.mb {
  margin-bottom: 20px;
}

.mt {
  margin-TOP: 20px;
}

.center {
  text-align: center;
}

.textCenter {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.socialLogo {
  width: 45px;
  height: 45px;
}
.logoList {
  margin-top: 30px;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 20px;
}
.btn {
  float: right;
}
.mainContent {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.3) !important;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
}
.feedbackCard {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  margin-top: 150px;
}


