<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Identification</ion-title>
    <ion-icon size="large" name="close-circle-outline" slot="end" (click)="closeModal('close')"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="padding">

    <div class="logo">
      <!-- <ion-icon color="light" name="sunny"></ion-icon> -->
      <!-- <ion-icon color="light" name="contact"></ion-icon> -->
      <ion-icon color="light" name="cloudy-night"></ion-icon>
      <!-- <img src="../../assets/logo.png"> -->
    </div>
    <form [formGroup]="identificationForm" (ngSubmit)="submitForm()" novalidate>
      <div class="mt mb">
        <span class="error ion-padding" *ngIf="isSubmitted &&
        (identificationForm.controls.email.errors?.required || identificationForm.controls.email.errors?.required)">
          Remplir les champs obligatoires.
        </span>
        <br>
      </div>

      <ion-item lines="full">
        <ion-label position="floating" color="light">Firstname</ion-label>
        <ion-input formControlName="firstname" color="light" type="text" placeholder="Firstname"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating" color="light">Email</ion-label>
        <ion-input formControlName="email" color="light" type="mail" placeholder="Email"></ion-input>
      </ion-item>

      <ion-button class="btn-connexion" type="submit" color="light" expand="block" shape="round" fill="outline">S'identifier</ion-button>
    </form>
    <br>
    <!--<ion-item lines="none">
      <ion-label color="light" text-center>Ou connectez-vous avec</ion-label>
    </ion-item>

    <div class="flex">
      <ion-button color="facebook" shape="round">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>
      <ion-button color="google" color="youtube" shape="round">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>
    </div>-->

  </div>
</ion-content>

